services:
  fastapi-app:
    build:
      context: .
      dockerfile: Dockerfile.fastapi
    ports:
      - "0.0.0.0:8000:8000"
    networks:
      - app-network
    depends_on:
      - ollama

  ollama:
    build:
      context: .
      dockerfile: Dockerfile.ollama
    container_name: ollama
    ports:
      - "11434:11434"
    networks:
      - app-network
    deploy:
      resources:
        limits:
          cpus: '4.0'
          memory: 8G

networks:
  app-network:
    driver: bridge